<div class="container">
<div class="tfg-label">¿Qué son las comparaciones nominales?</div>
<p>La comparación nominal, es de entre todas las relaciones que se pueden dar entre los datos, la más simple. Las divisiones categóricas no siguen ningún orden, y el objetivo es simplemente mostrar una serie de valores que podrán ser comparados y vistos
    de una forma fácil. </p>
<div class="tfg-label">¿Qué son los rankings?</div>
<p>La relación de ranking se produce cuando queremos comunicar cómo los datos cuantitativos asociados a una serie de categorías se relacionan con los demás de una forma secuencial, como por ejemplo puede ser de mayor a menor.</p>
<div class="tfg-label">¿Qué información queremos obtener con esta gráfica?</div>
<p>El porcentaje de personas fallecidas en cada país: con los datos sobre personas infectadas fallecidas por COVID, realizaremos una comparación nominal, acompañada de ranking, es decir, lo que haremos será mostrar en un gráfico el porcentaje de población
    infectada fallecida de cada país, ordenando los datos de mayor a menor. De esta forma podremos observar de forma sencilla que país tiene un mayor porcentaje de muerte por COVID y nos podremos también hacer una idea de la diferencia con otros países.</p>
<!--toast-->
<div #grafica id="grafica"></div>
<!--chartsjs-->
<canvas #myChart></canvas>
<!--d3-->
<figure id="imagen"></figure>
<div class="tfg-label">¿Qué conclusiones obtenemos de estas visualizaciones?</div>
<p>Como conclusiones que se pueden inferir de los datos que se están mostrando es que la cantidad de fallecidos en los distintos países del todo el mundo varía mucho, lo que nos lleva a seguir mostrando información de forma gráfica para ver si se podría
    inferir la teoría de que la dieta de los distintos países podría influir en el número de muertes. Como se ha dicho anteriormente, esto no es más que un punto de partido, pero aún se nos podrían ofrecer más datos simplemente realizando unos pequeños
    cambios, que veremos a continuación.</p>
</div>