<h3>¿Qué son las comparaciones nominales?</h3>
<p>La comparación nominal, es de entre todas las relaciones que se pueden dar entre los datos, la más simple. Las divisiones categóricas no siguen ningún orden, y el objetivo es simplemente mostrar una serie de valores que podrán ser comparados y vistos
    de una forma fácil. </p>
<h3>¿Qué son los rankings?</h3>
<p>La relación de ranking se produce cuando queremos comunicar cómo los datos cuantitativos asociados a una serie de categorías se relacionan con los demás de una forma secuencial, como por ejemplo puede ser de mayor a menor.</p>
<!--toast-->
<div #grafica id="grafica"></div>
<!--chartsjs-->
<canvas #myChart></canvas>
<!--d3-->
<figure id="imagen"></figure>