<div class="container">
<div class="tfg-label">¿Qué es la relación parte del todo?</div>
<p>La relación parte del todo, comunica como los valores cuantitativos asociados a una serie de categorías se relacionan con el valor total y por consecuencia, con los demás. La unión de medida más común son los porcentajes. El “todo” es el 100%, mientras
    que las demás partes son porciones de este “todo”. </p>
<div class="tfg-label">¿Qué información queremos obtener con esta gráfica?</div>
<p>La comparativa de cada tipo de alimento en la dieta de cinco países: con los datos sobre las dietas de cada país se realizará un gráfico que representará la relación parte del todo que se puede dar entre los datos. Es decir, lo que observaremos es del
    100% de tipos de comida que se consume en un país, el porcentaje que se consume de cada tipo. Para esto, principalmente nos fijaremos en los datos de España, con los cuatro países que tiene una mayor tasa de muerte por COVID. De esta forma, podremos
    observar cómo de diferente es la dieta de cada uno de estos países, y si puede tener algo que ver con la cantidad de muertes.
</p>

<!--toast-->
<div #grafica id="grafica" style="position: relative; height:100vh; width:98vw"></div>
<!--chartsjs-->
<canvas #myChart style="position: relative; height:100vh; width:98vw"></canvas>
<!--d3-->
<figure id="imagen"></figure>
<div class="tfg-label">¿Qué conclusiones obtenemos de estas visualizaciones?</div>
<p>Con este gráfico se puede observar como las dietas de los distintos países que se encontraban en la cima de la clasificación anterior no es muy diferente, ni entre ellos, ni con España. De hecho, el mayor porcentaje de diferencia entre todas las barras
    vemos que no alcanza ni un cinco por ciento, por lo que podemos inferir que, aunque sabemos que la dieta juega un papel importante en la salud de todas las personas, no tiene por qué ser necesariamente una de las grandes causas del número de muertes
    por COVID, y que hay otros factores que pueden serlo.</p>
</div>