<mat-toolbar color="primary">
    <div class="tfg-button-container">
        <div class="tfg-button">
            <a mat-mini-fab color="primary" href="./">
                <mat-icon>home</mat-icon>
            </a>
        </div>
        <div class="tfg-button">
            <button mat-mini-fab color="primary" (click)="desplegable.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        </div>
    </div>
    <span id="titulo">Trabajo de Fin de Grado</span>
    <span class="linea-spacer"></span>
    <span id="titulo">Universidad de Sevilla</span>
</mat-toolbar>
<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<mat-sidenav-container id="contenedor">
    <mat-sidenav #desplegable (click)="desplegable.toggle()" mode="side">

        <p routerLink="./nominalComparison" style="padding: 2px; margin-top: 10px;">
            <button mat-raised-button color="primary">Comparación nominal y ranking</button>
        </p>
        <p routerLink="./partToWhole" style="padding: 1px;">
            <button mat-raised-button color="primary">Parte de todo</button>
        </p>
        <p routerLink="./deviation" style="padding: 1px;">
            <button mat-raised-button color="primary">Desviación</button>
        </p>
        <p routerLink="./distribution" style="padding: 1px;">
            <button mat-raised-button color="primary">Distribución</button>
        </p>
        <p routerLink="./correlation" style="padding: 1px;">
            <button mat-raised-button color="primary">Correlación</button>
        </p>
        <p routerLink="./timeSeries" style="padding: 1px;">
            <button mat-raised-button color="primary">Series temporales</button>
        </p>


    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer>
    <mat-toolbar color="primary">
        <span class="linea-spacer"></span>
        <span id="titulo">Marta Perea Olías</span>
    </mat-toolbar>
</footer>