<h3>¿Qué es la distribución?</h3>
<p>La distribución describe como un conjunto de valores cuantitativos están distribuidos a través de un rango, desde el menor hasta el mayor.</p>
<h3>¿Qué información queremos obtener con esta gráfica?</h3>
<p>Número de países según el porcentaje de obesidad de su población: El no mantener una buena dieta, puede provocar casos de obesidad en las personas, siendo esto un factor de riesgo más a la hora de enfrentarse al COVID. Consultaremos, con la relación de
    distribución y los casos de obesidad, el número de países que se encuentran en un rango de obesidad de x a y.</p>

<div id="histogram3d"></div>
<div #grafica id="grafica"></div>

<h3>¿Qué conclusiones obtenemos de estas visualizaciones?</h3>
<p>Mediante esta gráfica podemos observar cómo las barras más largas, es decir las que contienen un mayor número de países, son la situadas entre los intervalos 20-25 y 25-30, seguidos de los intervalos 5-10 y 0-5. Este puede llegar a ser un dato preocupante,
    ya que se puede inferir que la mayoría de países del mundo tienen una tasa de obesidad bastante alta, de aproximadamente 1 de cada 4 personas.
</p>