<div class="container">
<div class="tfg-label">¿Qué es la correlación?</div>
<p>Por último, la relación de correlación comunica si dos conjuntos de valores cuantitativos varían en relación con respecto al otro, y si es así, en qué dirección lo hacen. La existencia de una correlación puede implicar que una cosa cause la otra, o que
    las dos son causadas por uno o más otros factores.</p>
    <div class="tfg-label">¿Qué información queremos obtener con esta gráfica?</div>
<p>Relación de la obesidad y muerte a nivel mundial: como acabamos de mencionar, la obesidad constituye un factor de riesgo que, con una buena alimentación, se podría evitar. Para constatar que las suposiciones de que la obesidad juega un papel importante
    a la hora de enfrentar el COVID, usamos la relación de distribución, en la que compararemos el índice de obesidad con el porcentaje de muertes por COVID en todos los países del mundo. Con esto, podremos observar si la tendencia es positiva, es decir,
    que nuestras suposiciones son ciertas, o son negativas.
</p>
<div id="chart-area"></div>
<div class="chart-container" style="position: relative; height:60vh; width:98vw">

    <canvas #myChart></canvas>
</div>
<figure id="myD3Chart"></figure>
<div class="tfg-label">¿Qué conclusiones obtenemos de estas visualizaciones?</div>
<p>Observamos que la mayoría de puntos se encuentra en un bajo porcentaje de fallecimientos y de obesidad, y la minoría de ellos en un alto porcentaje de fallecimientos y de obesidad. Aunque no exista una línea de moda, podemos inferir que la moda es positiva,
    es decir, que a tasas de obesidad mayores, más muertes por COVID, pero gracias a los datos anteriores obtenidos por el uso de las cuadrículas, podemos observar que la correlación no es demasiado fuerte, por lo que la relación no es excesivamente entre
    las variables. Con este último gráfico y la información que obtenemos, podemos concluir con que, aunque no sea de las causas más importantes, una persona con obesidad tiene un mayor riesgo de fallecer por COVID, por lo que si puede llegar a ser un
    factor de riesgo, como suponíamos.
</p>
</div>