<h3>¿Qué son las series temporales?</h3>
<p>Las series temporales, es la relación que se da entre valores cuantitativos y valores categóricos de tiempo, como son meses, días, minutos o incluso segundos. Son una forma importante de consultar la moda de los datos a lo largo del tiempo, es decir,
    la forma de observar como algo cambia con respecto al paso del tiempo. </p>
<!--toast-->
<div #grafica id="grafica"></div>
<!--chartsjs-->
<canvas #myChart style="position: relative; height:70vh; width:98vw"></canvas>
<!--d3-->
<figure id="imagen"></figure>