<h3>¿Qué son las series temporales?</h3>
<p>Las series temporales, es la relación que se da entre valores cuantitativos y valores categóricos de tiempo, como son meses, días, minutos o incluso segundos. Son una forma importante de consultar la moda de los datos a lo largo del tiempo, es decir,
    la forma de observar como algo cambia con respecto al paso del tiempo. </p>
<h3>¿Qué información queremos obtener con esta gráfica?</h3>
<p>Consultar cómo ha ido variando el porcentaje de la población que usa internet desde sus inicios, tanto en el mundo, como en distintos países del mundo.</p>

<!--toast-->
<div #grafica id="grafica"></div>
<!--chartsjs-->
<canvas #myChart style="position: relative; height:70vh; width:98vw"></canvas>
<!--d3-->
<figure id="imagen"></figure>

<h3>¿Qué conclusiones obtenemos de estas visualizaciones?</h3>
<p>En cuanto a las conclusiones que se pueden inferir de este gráfico, podemos ver como nuestro país, además de los países vecinos siempre hemos estado por la media mundial de personas usando internet, por lo que se puede ver que somos países del primer
    mundo. Además podemos ver como en general, todos han ido muy a la par. En particular podemos observar como España tiene, según los últimos datos que se muestra, que son de 2017, la población más informatizada, con el 85% aproximadamente de la población
    usando internet en sus vidas, lo que es un dato muy positivo ya que refleja como de actualizada esta la población española con respecto a la sociedad en la que vivimos hoy en día, en la que la tecnología juega un rol muy importante.
</p>