<h1>TFG: Estudio y análisis de la visualización eficiente del Big Data</h1>
<h2>Visualización de los distintos tipos de relaciones entre los datos</h2>
<ul>
    <li>
        Visualización de la relación <a href="./nominalComparison">comparación nominal</a>.
    </li>
    <li>
        Visualización de la relación <a href="./partToWhole">parte del todo</a>.
    </li>
    <li>
        Visualización de la relación <a href="./distribution">distribución</a>.
    </li>
    <li>
        Visualización de la relación <a href="./correlation">correlación</a>.
    </li>
    <li>
        Visualización de la relación <a href="./deviation">desviación</a>.
    </li>
    <li>
        Visualización de la relación <a href="./timeSeries">serie temporal</a>.
    </li>

</ul>