<h1>TFG: Estudio y análisis de la visualización eficiente del Big Data.</h1>
<h2>Visualización de los distintos tipos de relaciones entre los datos.</h2>
<ul>
    <p>Para observar cómo se muestran las siguientes relaciones, haz uso del siguiente <a href="https://hdvirtual.us.es/discovirt/index.php/s/983kFWM6SC9sXik/download" target="_blank">dataset</a>: </p>
    <li>
        Visualización de la relación <a href="./nominalComparison">comparación nominal</a>.
    </li>
    <li>
        Visualización de la relación <a href="./partToWhole">parte del todo</a>.
    </li>
    <li>
        Visualización de la relación <a href="./distribution">distribución</a>.
    </li>
    <li>
        Visualización de la relación <a href="./correlation">correlación</a>.
    </li>
    <li>
        Visualización de la relación <a href="./deviation">desviación</a>.
    </li>
    <p>Para observar cómo se muestran las siguientes relaciones, haz uso del siguiente <a href="https://hdvirtual.us.es/discovirt/index.php/s/C6eDH7xgMGSXyEj/download" target="_blank">dataset</a>: </p>
    <li>
        Visualización de la relación <a href="./timeSeries">serie temporal</a>.
    </li>
</ul>
<br>
<h5>Marta Perea Olías.<br>Universidad de Sevilla.</h5>