<h1>TFG: Estudio y análisis de la visualización eficiente del Big Data.</h1>
<h2>Visualización de los distintos tipos de relaciones entre los datos.</h2>
<ul>
    <p>Los siguientes gráficos están hecho con un data set relacionado al Covid-19</p>
    <li>
        Visualización de la relación <a href="./nominalComparison">comparación nominal y ranking</a>.
    </li>
    <li>
        Visualización de la relación <a href="./partToWhole">parte del todo</a>.
    </li>
    <li>
        Visualización de la relación <a href="./deviation">desviación</a>.
    </li>
    <li>
        Visualización de la relación <a href="./distribution">distribución</a>.
    </li>
    <li>
        Visualización de la relación <a href="./correlation">correlación</a>.
    </li>
    <p>El siguiente gráfico está hecho con un data set relacionado el uso de internet en el mundo</p>
    <li>
        Visualización de la relación <a href="./timeSeries">serie temporal</a>.
    </li>
</ul>
<br>
<h5>Marta Perea Olías.<br>Universidad de Sevilla.</h5>