<h3>¿Qué es la desviación?</h3>
<p>La relación de desviación, comunica como uno o más conjuntos de valores cuantitativos difieren de una serie de valores primarios. Se realiza tomando como base uno de los valores cuantitativos, que en este caso sería el primario, y calculando la medida
    de diferencia que existe con el segundo. </p>
<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
<!--toast-->
<div #grafica id="grafica"></div>
<!--chartsjs-->
<canvas #myChart></canvas>
<!--d3-->
<figure id="imagen"></figure>