<div class="container">
<div class="tfg-label">¿Qué es la desviación?</div>
<p>La relación de desviación, comunica como uno o más conjuntos de valores cuantitativos difieren de una serie de valores primarios. Se realiza tomando como base uno de los valores cuantitativos, que en este caso sería el primario, y calculando la medida
    de diferencia que existe con el segundo. </p>
<div class="tfg-label">¿Qué información queremos obtener con esta gráfica?</div>
<p>El porcentaje de la diferencia entre la dieta española con la del país con más muerte: de la comparación anterior, ahora nos centraremos en la diferencia de la dieta española con la del país con más muerte. Esta diferencia se basa en la relación de desviación
    que se da entre los datos, de esta forma podremos observar en qué cantidad es distinto, si positiva o negativa, en un simple vistazo.</p>

<!--toast-->
<div #grafica id="grafica"></div>
<!--chartsjs-->
<canvas #myChart style="position: relative; height:60vh; width:98vw"></canvas>
<!--d3-->
<figure id="imagen"></figure>
<div class="tfg-label">¿Qué conclusiones obtenemos de estas visualizaciones?</div>
<p>A partir de esta visualización se puede comprobar cómo tanto España como Bélgica se encuentran a la par en cuanto a sus dietas, estando la diferencia más grande en el consumo de carne, en el que Bélgica se encuentra en un menos dos por ciento negativo,
    aproximadamente, lo que significa que en España consumimos un dos por ciento más de carnes.
</p>
</div>